<div class="wrapper">
  <div class="chat-side">
    <div class="side-header">
      <div class="side-box">
        <p class="user-name">USER NAME</p>
        <ul class="menu">
          <li class="new-group"><a href="#">new</a></li>
          <li class="edit-user"><a href="#">edit</a></li>
        </ul>  
      </div>
    </div>  
      <div class="groups"></div>
    </div>
  <div class="chat-main">
    <div class="main-header"></div>
    <div class="chat-messages"></div>
    <div class="form"></div>
  </div>  
</div>