<div class="wrapper">
  <div class="chat-side">
    <div class="side-header">
      <div class="side-box">
        <p class="user-name">USER NAME</p>
        <ul class="menu">
          <li class="new-group"><a href="#">new</a></li>
          <li class="edit-user"><a href="#">edit</a></li>
        </ul>  
      </div>
    </div>  
      <div class="groups"></div>
    </div>
  <div class="chat-main">
    <div class="main-header">
      <h2 class="current-group">スペース名<h2>
      <a href="#" class="exit-btn">
        <div class="space-exit">Exit</div>
      </a>  
    </div>
    <div class="chat-messages"></div>
    <div class="form">
      <form class="new-message">
        <input class="input-text" placeholder="type a message" type="text">
        <input class="submit-btn" type="submit" value="send">
      </form>  
    </div>
  </div>  
</div>