<div class="wrapper">
  <div class="message-side">
    <div class="side-header">
      <div class="side-box">
        <p class="user-name"><%= current_user.nickname %></p> 
        <ul class="menu">
          <li class="new-group"><a href="/spaces/new">new</a></li>
          <li class="edit-user"><a href="#">edit</a></li>
        </ul>  
      </div>
    </div>  
      <div class="groups"></div>
    </div>
  <div class="message-main">
    <div class="main-header">
      <h2 class="current-group">Space Name<h2>
      <a href="/spaces" class="exit-btn">
        <div class="space-exit">Exit</div>
      </a>  
    </div>
    <div class="message-field"></div>
    <div class="form">
      <form class="new-message"> 
        <input class="input-title" placeholder="title" type="text">  
        <input class="input-text" placeholder="text message" type="text">
        <input class="submit-btn" type="submit" value="send">
      </form>  
    </div>
  </div>  
</div>