.wrapper {
  display: flex;
  height: 100vh;
}

.chat-side {
  width: 300px;
}

.chat-main {
  width: calc(100% - 300px);
}

.side-header {
  background-color: #595959;
  height: 100px;
  display: flex;
  align-items: center;
}

.groups {
  background-color: #f7feff;
  height: calc(100vh - 100px);
}

.main-header {
  height: 100px;
  background-color: #f7feff;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

.chat-messages {
  background-image: url("/chat-space.jpg");
  background-size: cover;
  opacity: 0.2;
  height: calc(100vh - 190px);
}

.form {
  background-color: #595959;
  height: 90px;
  padding: 0 40px;
}

.side-box {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.user-name {
  color: white;
  padding: 0;
}

.menu {
  color: white;
  display: flex;
}

.new-group {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.current-group {
  color: #595959;
}

.exit-btn {
  font-size: 16px;
  border: 1px solid red;
  padding: 15px 20px;
}

.space-exit {
  color: black;
  display: inline;
}

.new-message {
  display: flex; 
}

.input-text {
  font-size: 16px;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
  color: black;
  border-style: none;
}

.submit-btn {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin: 20px 0 0 15px;
  background-color: snow;
  font-size: 15px;
  color: slateblue;
  cursor: pointer;
}