.wrapper {
  display: flex;
  height: 100vh;
}

.message-side {
  width: 300px;
}

.message-main {
  width: calc(100% - 300px);
}

.side-header {
  background-color: #595959;
  height: 100px;
  display: flex;
  align-items: center;
}

.new-group{
  padding: 5px;
  border: solid violet 1px;
}

.groups {
  background-color: #f7feff;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.space {
  padding: 20px 0 40px;
}

.space-name a {
  text-decoration: none;
  color: black;
}
.main-header {
  height: 100px;
  background-color: #f7feff;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

.message-field {
  background-image: url("/message-space.jpg");
  background-size: cover;
  opacity: 0.4;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message-field {
  background-color: thistle;
  margin: 0 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: black;
  font-size: 16px;
}

.message-title {
  color: black;
  font-size: 16px;
  margin-left: 10px;
  border-bottom: solid blue 2px;
}

.message-date {
  color: black;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: black;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #595959;
  height: 90px;
  padding: 0 40px;
}

.side-box {
  height: 30px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.user-name {
  color: white;
  padding: 5px;
}

.menu {
  color: white;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.current-group {
  color: #595959;
}

.exit-btn {
  font-size: 16px;
  border: 1px solid red;
  padding: 15px 20px;
}

.space-exit {
  color: black;
  display: inline;
}

.new-message {
  display: flex; 
}

.input-title {
  font-size: 16px;
  height: 50px;
  width: 200px;
  margin: 0 15px;
  padding-left: 15px;
  margin-top: 20px;
  color: black;
  border-style: none;
}

.input-text {
  font-size: 16px;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
  color: black;
  border-style: none;
}

.submit-btn {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin: 20px 0 0 15px;
  background-color: snow;
  font-size: 15px;
  color: slateblue;
  cursor: pointer;
}